@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
span.st-emotion-cache-10trblm{
    font-size: 30px;
    color: black;
    font-family: "Agbalumo";
}
div.e1nzilvr4{
    width: 1200px;
}
section.main{
    display: block;
}
div.e1f1d6gn1{
    margin-top: -6;
    padding-top: 0;
}
div.block-container{
    padding-top: 0;
}
div.ezrtsby1{
    display: none;
}
a.e1nzilvr3{
    display: none;
}
div.e1nzilvr5{
    color: black;
}
div.st-emotion-cache-nahz7x{
    color:red;
}
header.ezrtsby2{
    display: none;
}
span.e1nzilvr1{
    position: relative;
    top:-175px;
    left:6px
}
.heading{
    font-family: "Agbalumo";
}

div.e115fcil1{
    position: relative;
    top: -168px;
}
div.e1f1d6gn3{
    margin-top: 0;
}
div.e115fcil2{
    height: 292px;
}
footer.ea3mdgi1{
    display: none;
}